.about{
    &__container{
    row-gap: 2rem;
    text-align: center;
    }
    &__subtitle{
        margin-bottom: $mb-2;
    }
    &__img{
        justify-self: center;
    }
    &__img img{
        width: 200px;
        border-radius: 0.5rem;
    }
}

    